.navbar {
    background-color: #002060;
}

.nav-link {
    color: lightgrey;
}

.nav-link:hover {
    color: white;
    cursor: pointer;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;

}

footer {
    background-color: #002060;
    color: white;
    padding-top: 30px;
    padding-bottom: 20px;
}