.navbar {
    background-color: #002060;
}

.nav-link {
    color: lightgrey;
}

.nav-link:hover {
    color: white;
    cursor: pointer;
}

.nav-link.active {
    color: white !important;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;

}

footer {
    background-color: #002060;
    color: white;
    padding-top: 30px;
    padding-bottom: 20px;
}

.icon-button {
    color: #002060 !important;
}

.dropdown-icon {
    padding-right: 1rem;
    position: absolute;
    right: 10px;
    top: 350px;
    transform: translateY(-50%);
    pointer-events: none;
    color: #6c757d;
}

.actions a, .actions button {
    text-decoration: none;
    color: #007bff;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

.actions i {
    font-size: 1.2em;
}

/* Trennlinie */
.navbar hr {
    width: 100%;
    border-top: 2px solid white;
    margin: 0.5rem 0; /* Abstand oben und unten */
}

/* Icons und Schriftzüge kleiner */
.navbar-nav .bi, .navbar-nav span {
    font-size: 0.9rem;
}

.spalte {
    max-height: fit-content;
}